#include "/home/chiggins/.xcolors/solarized_dark"

*.foreground:   FOREGROUND
*.background:   BACKGROUND
*.fadeColor:    FADECOLOR
*.cursorColor:  CURSORCOLOR
*.pointerColorBackground:   POINTERCOLORBACKGROUND
*.pointerColorFOreground:   POINTERCOLORFOREGROUND
*.color0:       COLOR0
*.color1:       COLOR1
*.color2:       COLOR2
*.color3:       COLOR3
*.color4:       COLOR4
*.color5:       COLOR5
*.color6:       COLOR6
*.color7:       COLOR7
*.color8:       COLOR8
*.color9:       COLOR9
*.color10:      COLOR10
*.color11:      COLOR11
*.color12:      COLOR12
*.color13:      COLOR13
*.color14:      COLOR14
*.color15:      COLOR15
!rofi.color-enaled: true
!rofi.color-window: #2c3539, #2c3539, #2c3539
!rofi.color-normal: #2c3539, #c4c4b5, #2c3539, #343d41, #ac8d6e
!twobwm.focus_color: #60867f
!twobwm.unfocus_color: #60867f
!twobwm.fixed_color: #a66959
!twobwm.unkill_color: #60867f
!twobwm.outer_border_color: #20292d
!twobwm.fixed_unkill_color: #60867f

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
XTerm.vt100.faceName: Iosevka Term:size=11:antialias=true
XTerm.vt100.font: -schumacher-clean-medium-r-normal-*-12-120-75-75-c-*-iso8859-*
Xft.rgba: rgb
Xft.dpi: 180
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: Adwaita
XTerm.scaleHeight: 1.01

URxvt.scrollBar: false
!URxvt*depth: 32
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt*borderless: false
URxvt.letterSpace: -1
! fonts

URxvt*font: xft:Hack:style=regular:size=10
URxvt*boldFont: xft:Hack:style=bold:size=10

! Replace copy/paste from Ctrl+Alt+c/v to Ctrl+Shift+c/v
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
