[user]
    name = Chris Higgins
    email = chris@chigs.me
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    c = commit -S --edit
    m = merge -S --no-ff --edit
[color]
    ui = auto
    status = always
[push]
    default = matching
[github]
    user = Chiggins
